@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



*{
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "lemon", serif;
    
}

body{
    background-color: white;
    
    
}


section,footer{
    padding: 170px 0;

}

h2,h1{
    font-size: 80px;
    color:white;
    text-align: center;
}


p{
    color: #d1f076;
    font-size: 24px;
    margin: 25px 0;
    font-weight: 800;
}

.container{
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 4%;
    
}

header {

    background-position: center;
    background-size: cover; 
    background-attachment: fixed; 
    height: 900px;   /* Altura desejada do cabeçalho */
}



nav{
    display:flex;
    align-items: center;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    padding:0 90px;
    
}



a {
    color: white;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    font-weight: 600;
}


ul{
    display: flex;
    align-items: center;
    
}
/*fim cabecalho pesquisa*/


/*botao*/
.btn{
   background-color:#004022; 
   color:white;
   padding: 15px 20px;
   border-radius: 10px;
   cursor: pointer;
   display: inline-block;
   transition: 0.1s;
   justify-content: center;
   margin: 11px;
}
.btn:hover {
    background-color: #94f580;
}


/*comeco textos*/
.ganhe-pontos .ganhe-pontos-text{
    width: 60%;
    padding: 0 2%;
}

.ganhe-pontos .ganhe-pontos-img { /*mudar imagem*/
    width: 50%;
    padding-right: 30px;
    size: 30px;

}

.ganhe-pontos .container{
    display: flex;
    align-items: center;
}

.ganhe-pontos .ganhe-pontos-text h3{
    font-size: 56px;
    color: #004022;
   
    
}

.ganhe-pontos .ganhe-pontos-text p{  
    margin: 5px 0 10px 0;
    color: black;
    font-family: ''; /*colocar fonte*/
}

.boas-praticas .boas-praticas-text{
    width: 50%;
    padding: 0 3%;
}

.boas-praticas .boas-praticas-img {
    width: 50%; 
    padding-right: 80px;
    

}

.boas-praticas .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    
    
    
}

.boas-praticas .boas-praticas-text h3{
    font-size: 54px;
    color: #004022;
    padding-left: 200px;
    text-align: right;
    
}

.boas-praticas .boas-praticas-text p {
    margin: 5px 0 10px 0;
    color: black;
    font-family: ''; /*colocar fonte*/
    text-align: right;
}
   

   

/*fim textos*/


/*cards*/
.container-card .card img {
  height: 340px;
  padding: 12px;
  width: 350px;
  border-radius: 30px;
  
}
.card{
    height: 450px;
    margin: 40px;
    overflow: hidden;
}


.container-card {
    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: center;
    background-color:#d1f076;
    text-align: center;
   

}


#texto{
    color: #004022;
}

.time p{
    font-size: 56px;
    text-align: center;
    color: #004022;
    

}
/*fim cards*/

.footer {
    background-color: #004022;
    padding: 90px;
    text-align: center;
    height: 250px;
} 
.links a {
    color: #000;
    font-size: 24px;
    margin: 0 8px;
   display:inline-block ;
    
}

.footer i {
    color:black;
    font-size: 25px;
    background-color: #9fe870;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;

}

.footer .container-footer p{
    color: #9fe870;
}

/* Página sobre*/
.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text h3{
    font-size: 54px;
    color: black;
}

.sobre .sobre-text p{
 margin: 5px 0 10px 0;
 font-family: ''; /*colocar fonte*/
 color: #000;
    
}

.sobre .container .sobre-img img{
    width: 900px; 
    height: auto;
}
   
.servicos .container{
    display: flex;
    text-align: center;
}
.servicos .servicos-text h3{
    font-size: 54px;
    color: black;
    text-align: center;
}

.servicos .servicos-text p{
    font-size: 20px;
    text-align: center;
    
}

.servicos .cards-items .nome-servicos {
    color:#000;
}

.servicos .cards{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.servicos .cards-items{
    background-color:#9fe870;
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    flex-wrap: wrap;
    text-align: center;
    transition: 0.3s;
}

.servicos .descricao{
    font-size: 20px;
    color: aliceblue;
  
}


/* As ods*/
.dados .ods-itens h3{
    text-align: center;
    margin: 40px;
  
}

.dados .container img{
    justify-content: center;
    margin: 18px;
    align-items: center;
    padding: 20px;
}

/* Página de contato*/
    .contato-info{
        display: flex;
        justify-content: space-between;

    }

    .contato-info .lado-esquerdo{
        width: 50%;
        padding: 40px;
        background-color: #9fe870;
        border-radius: 14px;
        margin-right: 50px;
        height: fit-content;
    }
    .contato-info .lado-esquerdo div{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        
    }
    .contato-info .lado-esquerdo i{
    font-size: 24px;
    margin-right: 20px;
    color: #004022;
    }
    .contato-info .lado-esquerdo i{
        font-size: 24px;
        margin-right: 15px;
        color: #004022;
    }

    .contato-info .lado-esquerdo p{
        font-size: 17px;
        color: #004022;
    }

    .contato-info .lado-direito{
        width: 50%;

    }

    .contato-info .lado-direito input{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        height: 47px;
        padding: 15px;
        border-radius: 9px;
        transition: 0.7s;
        border: 1px solid #f1f1f1;
        
        font-weight: lighter;
    }

    .contato-info .lado-direito textarea{
        border: 1px solid #f1f1f1;
        color: #212121;
        border-radius: 9px;
        margin-bottom: 10px;
        padding: 15px;
        width: 100%;
        resize: none;
    }